<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@700&display=swap" rel="stylesheet">
        <!-- Link to CSS -->
        <link rel="stylesheet" href="/styles/style.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="landing-page">
            <img src="/images/pexels-ricky-esquivel-1907785.jpg" alt="book-rack-img" class="book-rack-img" />
            <nav>
                <div class="logo-container poppins">
                    <h3>book <span class="logo-span">shelf</span></h3>
                </div>
                    <ul class="nav-item">
                        <li><a href="">About</a></li>
                        <li>
                            <div class="nav-items-div-black">
                                <ul class="nav-items">
                                    <li><a href="">Contact</a></li>
                                    <li>
                                        <a href=""
                                            >Sort by<svg
                                                class = "sort icon"
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="w-6 h-6 "
                                            >
                                                <path
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                                                /></svg
                                        ></a>
                                    </li>
                                    <li class="abc">
                                        <form action=""><input type="text" name="search" placeholder="search book" class="search-btn"></input></form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
            </nav>
            <div class="container">
                <div class="hero">
                    <h1>A place to keep <br> records of <span>book</span> <br> you read.</h1>
                    <form action=""><button type="submit" class="new-book-btn"><svg class="plus icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                      new book</button></form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>


